*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'PT Sans', sans-serif;
}
:root{
    --mainColor:#7b5244;
    --subColor:#333;
}
header{
    padding: 30px 0;
}
a{
    text-decoration: none;
}
.container{
    width: 80%;
    margin: auto;
}
.list-unstyled{
    list-style: none;
}
.section-padding{
    padding: 40px 0;
}
.section-header{
    text-align: center;
    margin-bottom: 25px;
}
.section-title{
    font-size: 30px;
    margin-bottom: 10px;
}
.section-header .line{
    display: block;
    width: 100px;
    height: 2px;
    margin: auto;
    background-color: var(--mainColor);
    transition: width 0.5s;
}
.section-header:hover .line{
    width: 150px;
}

/* header*/
header .header-content{
    display:flex ;
    justify-content: space-between;
    align-items: center;
}
.header-content img{
    flex: 1;
    max-width: 170px;
}
.header-content nav{
    flex: 3;
    text-align: center;
}
.header-content .login{
    flex: 1;
    text-align:right;
}

header .header-content ul li{
    display: inline-block;
}
header .header-content ul li ,
header .header-content ul li a{
    color: var(--subColor);
}
 .header-content nav ul li .link-item{
    padding: 10px 24px;
    display: block;
    font-weight: bold;
    position: relative;
}
.header-content nav ul li .link-item::before{
    content: "";
    position: absolute;
    border-width: 0 2px;
    border-color: var(--mainColor);
    border-style: solid;
    width: 98%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform: scale3d(1,0,1);
    transition: transform 0.2s;
}
.header-content nav ul li .link-item:hover:before{
    transform: scale3d(1,1,1);
}
.header-content nav ul li .link-item::after{
    content: "";
    position: absolute;
    border-width:2px 0;
    border-color: var(--mainColor);
    border-style: solid;
    width: 100%;
    height: 91%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform: scale3d(0,1,1);
    transition: transform 0.2s;
    transform-origin:left ;
}
.header-content nav ul li .link-item:hover:after{
    transform: scale3d(1,1,1);
    transition-delay: 0.2s;

}
.header-content .login ul li{
    padding:9px ;
    font-weight: bold;
}
.header-content .login ul li:last-child i{
    position: relative;
    margin-right: 10px;
}
.header-content .login ul li:last-child i::after{
    position: absolute;
    content: "0";
    border-radius: 50%;
    color: #fff;
    background-color: var(--mainColor);
    font-size: 13px;
    padding: 4px;
    bottom: 0;
    right: -11px;
}
/* dropdown*/
 .dropdown{
     position: relative;
 }
 .dropdown-menu{
     position: absolute;
     width: 450px;
     border: 2px solid var(--mainColor);
     padding: 15px;
     margin-top: 5px;
     background-color: #fff;
     transform: scale(0);
     visibility: hidden;
     opacity: 0;
     transition: transform 0.5s , visibility 0.5s;
 }
 .dropdown:hover .dropdown-menu{
     transform: scale(1);
     visibility: visible;
     opacity: 1;
 }
 .dropdown-menu ul{
     display: table-cell;
     text-align: left;
 }
.dropdown-menu ul li:first-child a{
    display: block;
    margin-bottom: 10px;
    border-bottom: 1px dotted var(--mainColor);
}
.dropdown-menu ul li{
    line-height: 1.7;
}
/*Slider*/
.slider .container img{
    width: 100%;
}

/*category*/
.category-items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}
.category-item{
    position: relative;
}
.category-item img{
    width: 100%;
    margin-bottom: 25px;
}
.category-item-subtitle{
    color: gray;
    font-weight: normal;
}
.category-item .icon{
    width: 40px;
    height: 40px;
    background-color: var(--mainColor);
    color: #fff;
    line-height: 40px;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}
.category-item:hover .icon{
    visibility: visible;
    opacity: 1;
}
.point{
    text-align: center;
    margin: 20px 0;
}
.point li{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color:var(--subColor);
    margin-left: 5px;
    transform: scale(1);
}
.point li:hover{
    transform: scale(1.3);
    background-color: var(--mainColor);
}
.point li:first-child{
    background-color: var(--mainColor);
}
/*discount*/
.discount{
    margin: 50px 0;
    display: flex;
}
.discount-desc{
    flex: 2;  
    background-color: #f7f3ef;
    padding: 20px;
    position: relative;
}
.discount-desc .top{
    position: relative;
    padding-left: 50px;
    margin-bottom: 20px;
}
.discount-desc .top .icon{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 50px;
    color: var(--mainColor);
}
.discount-desc .top + p{
    line-height: 1.7;
}
.discount-desc .bolletes{
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: right;
}
.discount-desc .bolletes span{
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: var(--mainColor);
    margin-left: 5px;
}
.discount-item{
    flex: 1;
    height: 300px;
    position: relative;
}
.discount-item-info{
    position: absolute;
    top: 20px;
    left: 15px;
}
.discount-item-info h3{
    color: var(--mainColor);
    font-weight: normal;
}
.discount-item-info h2{
    font-size: 20px;
}
.discount-item:nth-child(2){
    background-image: url(../images/cms-banner-1.jpg);
    background-size: cover;
    margin: 0 20px;
    transition: transform .2s;
}
.discount-item:nth-child(3){
    background-image: url(../images/cms-banner-2.jpg);
    background-size: cover;
    transition: transform .2s;
}
.discount-item:nth-child(2):hover ,
.discount-item:nth-child(3):hover{
    transform: scale(1.1);
}
/*sprites*/
.sprites{
   display: flex;
   text-align: center;
   margin-bottom: 55px;
}
.sprite-item{
    flex: 1;
    border-right: 1px solid var(--subColor);
}
.sprite-item:last-child{
    border: 0;
}
.sprite-icon{
    background-image: url(../images/service-icon.png);
    height: 55px;
    background-repeat: no-repeat;
}
.sprite-icon-1{
    background-position: center 5px;
    transition: all 0.5s;
}
.sprite-item:hover .sprite-icon-1{
    background-position: center -86px;
}
.sprite-icon-2{
    background-position: center -180px;
    transition: all 0.5s;
}
.sprite-item:hover .sprite-icon-2{
    background-position: center -273px;
}
.sprite-icon-3{
    background-position: center -366px;
    transition: all 0.5s;
}
.sprite-item:hover .sprite-icon-3{
    background-position: center -455px;
}
.sprite-icon-4{
    background-position: center -549px;
    transition: all 0.5s;
}
.sprite-item:hover .sprite-icon-4{
    background-position: center -639px;
}
.sprite-icon-5{
    background-position: center -734px;
    transition: all 0.5s;
}
.sprite-item:hover .sprite-icon-5{
    background-position: center -826px;
}
.sprite-info h3{
    font-size: 17px;
}
.sprite-info span{
    color: gray;
}
/*products*/

.products-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    margin: 40px 0;
}
.list-products{
    display: flex;
    justify-content: center;
}
.list-products li{
    margin: 10px 20px;
}
.product-img{
    position: relative;
}
.product-overlay{
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform .2s;
}
.product-overlay ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.product-overlay ul li{
    width: 40px;
    height: 40px;
    background-color: var(--mainColor);
    display: inline-block;
    text-align: center;
}
.product-overlay ul li i{
    color: white;
    line-height: 40px;
}

.product-item:hover .product-overlay{
    transform: scaleX(1);
}

.product-item i.active{
    color: yellow;
}
.product-info i{
    margin-top: 10px;
}
.product-info span{
    display: block;
    margin: 5px 0;
}